@using SportGoods.WebUI.Models
@using SportGoods.WebUI.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "Sport Goods";
}

@foreach (var p in @Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory }))
</div>

